---
title: Lorenz Bischof - Portfolio
---

<header>
    <h1>Lorenz Bischof</h1>
</header>
<main>
    <section class="about">
        <h1 class="hidden">About me</h1>
        <p>
        Hi! I work as a Linux System Administrator at Puzzle ITC in Berne, Switzerland. I love everything Open Source, use Linux and prefer a mechanical keyboard with the adnw layout.
        </p>
    </section>
    <section class="contact">
        <p>
        Shoot me an email at bischof@puzzle.ch
        <span id="gpg">GPG: 34C7 D8DE F3CA 1548 652B  393F 2285 067D AFBA 32A6</p>
        </p>
    </section>
</main>
